{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/event-detail.css' %}">
{% endblock %}
{% block content %}
<section class="event-container">

    <div class="event-details">
        <h1>{{ event.name }}</h1>
        <h2>{{ event.date }}</h2>
        <p>{{ event.location }}</p>
        <p>{{ event.description }}</p>

        <div class="event-actions">
            <a href="{% url 'event-update' event.id %}" class="btn warn">Edit event</a>
            <a href="{% url 'event-delete' event.id %}" class="btn danger">Delete event</a>
        </div>
    </div>
</section>

<!-- <div class="feedings-toy-container">
    <section class="feedings">
        <div class="subsection-title">
            <img src="{% static '' %}" alt="">
        </div>  
    </section>
</div> -->

{% endblock %}