{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/form.css' %}">
{% endblock %}

{% block content %}
<div class="page-header">
    <h1>Sign Up</h1>
    <img src="{% static 'images/nerd-cat.svg' %}" alt="A cat using a computer LIKE A NERD">
</div>
{% if error_message %}
    <p class="red-text">{{ error_message }}</p>
{% endif %}
<form method="post" class="form-container" autocomplete="off">
    {% csrf_token %}
    <table>
        {{ form.as_table}}
    </table>
    <button class="btn submit">Sign Up</button>
</form>
{% endblock %}